@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css";


body{
    margin: 0;
    padding: 0;
    background: darkslategray;
    background-size: cover;

}
.login-box{
    width: 280px;
    position:            absolute;
    top: 50%;
    left: 50%;
    transform:               translate(-50%,-50%);
    color: white;
}
.login-box h1{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid hotpink;
    margin-bottom: 50px;
    padding: 13px 0;
}
.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin-bottom: 8px 0;
    border-bottom: 1px solid;
}